.authMain {
  margin: 0 auto;
  margin-top: 180px;
  width: 100%;
  font-family: Golos UI, sans-serif;
  display: grid;
  grid-template-columns: 1fr 107px 1fr;
  gap: 40px;
  align-items: center;
  max-width: 1200px;
  padding: 0 20px;
  box-sizing: border-box;
}

.auth__greeting {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-self: end;
  grid-column: 1;
}

.auth__greeting__text {
  font-weight: 700;
  font-size: 140px;
  line-height: 180px;
  letter-spacing: -1.5px;
  margin-top: -100px;
  margin-left: -90px;
  position: absolute;
}

.auth__greeting__image img {
  max-width: 100%;
  height: auto;
  display: block;
}

.authForm {
  width: 100%;
  max-width: 343px;
  justify-self: start;
  grid-column: 3;
}

.authForm__field {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 20px;
  position: relative;
}

.authForm__field--label {
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: -0.15px;
  margin-bottom: 5px;
}

.auth__input {
  width: 100%;
  height: 44px;
  border-radius: 10px;
  border: none;
  background-color: #f2f3f5;
  padding: 13px 12px;
  box-sizing: border-box;
  font-family: inherit;
  font-size: 15px;
  outline: none;
}

.auth__input:focus {
  outline: 1px solid #ccc;
}

.authForm__field:has(.auth__input_type_password) .auth__input {
  padding-right: 40px;
}

.auth__input_type_password {
  padding: 10px 12px;
}

.authForm__field--hint {
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  letter-spacing: -0.08px;
  color: #6c6f78;
  margin-top: 4px;
}

.authForm__field--toogle {
  position: absolute;
  right: 12px;
  bottom: 12px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.authForm__field--toogle img {
  width: 20px;
  height: 20px;
  display: block;
}

.authForm__submit {
  background-color: #222222;
  color: white;
  width: 100%;
  height: 48px;
  border-radius: 10px;
  padding: 0 16px;
  border: none;
  cursor: pointer;
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  margin-top: 12px;
}

.authForm__submit:hover {
  background-color: #000;
}